* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  margin: 0 auto;
}

.main-box {
  margin: 50px auto;
  display: flex;
  width: 960px;
}

.main-item {
  width: 300px;
  margin-right: 30px;
  position: relative;
  padding: 10px;
  background-color: #eeeeee;
}

.main-item :last-child {
  margin-right: 0;
}

.step-box {
  background-color: #ff9a4b;
  color: aliceblue;
  position: absolute;
  top: 0;
  left: 0;
}

.main-img {
  background-image: url(img/flow01.png);
  height: 150px;
  margin: 10px;
  background-position: bottom;
  background-size: cover;
}

.main-title {
  margin: 15px 0 5px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  .main-box {
    width: 100%;
    display: block;
    margin: 20px 0;
  }

  .main-item {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
